/*INDEX----------------------------------------------------------------------------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:  none;
}


.body_index{
    font-family: sans-serif;
    background-color: #292727;
    background-image: url("Img/413986235_867668735361411_4465810863854860975_n.jpg");
    background-position: center top;
    
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}

.navbar{
  display: flex; 
  justify-content:flex-end; 
  align-items:center;
}

.navbar ul {
  list-style: none; 
  display:flex; 
}

.navbar ul li {
  margin: 0 50px; }

.navbar ul li a {
  text-decoration: none;
  color: #155826; 
}

.carousel-container {
    max-width: 600px; 
    margin: 60px;; 
  }
  
  .carousel-inner {
    width: 100%; 
  }
  
  .carousel-item img {
    max-width: 100%; 
    height: auto; 
  }
  .header{
    color: #dfaa1ac4;
  }
.general-content{
  color: rgb(60, 32, 187);
}
.footer_index{
  background-color: #3c9700;
  text-align: center;
  font-family: sans-serif;
}
.footer-container_index {
  display: flex;
  justify-content: space-between;  
  
}

.footer-nav_index {
  flex-basis: 20%;
  text-align: left;  
}

.footer-info_index {
  flex-basis: 30%; 
  color: #fff; 
}
.footer-text_index{
  color: #fff; 
}
.footer-nav_index h2,
.footer-info_index h2 {
  color: #fff;
}
.copyright_index{
  color: #fff;
}
/*PRODUCTOS---------------------------------------------------------------------------------------------------------------------------------------*/
.footer_productos{
  background-color: #3c9700;
  text-align: center;
  font-family: sans-serif;
}
.footer-container_productos{
  display: flex;
  justify-content: space-between;  
  
}

.footer-nav_productos {
  flex-basis: 20%;  
}

.footer-info_productos {
  flex-basis: 30%; 
}  