/*Global-----------------------------------------------------------------------------------*/
@media screen and (max-width: 768px){
  .navbar ul {
    flex-direction: column;
    text-align: center;
  }

  .navbar ul li {
    margin: 10px 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Variables */
:root {
  --main-bg-color: #292727;
  --text-color: #ffffff;
  --highlight-color: #03b81c;
  --logo-bg-color:#000000;
  --navbar-bg-color:#000000;
  --footer-bg-color: #021430;
  --font-family: sans-serif;
  --bg-image: url(../Img/FondoDark.jpg);
}

/* Body */
.body {
  font-family: var(--font-family);
  background-color: var(--main-bg-color);
  background-image: var(--bg-image);
  background-position: center top;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Tipografía */
.header, .general-content, .titulo-pro, .productos_desc, .pNosotros {
  color: var(--text-color);
}

/* Navbar----------------------------------------------------------------------------------- */
.logo{
  background-color: var(--logo-bg-color);
}
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 10px;
  background-color: var(--navbar-bg-color); 
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 2rem;
}

.navbar ul li a:hover {
  color: var(--highlight-color);
  text-decoration: underline;
}
/* Footer----------------------------------------------------------------------------------- */
.footer {
  background-color: var(--footer-bg-color);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 10%;
}

.footer-info p {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.footer-info svg {
  margin-right: 5px;
}

.copyright {
  color: var(--text-color);
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}


/* Carousel----------------------------------------------------------------------------------- */
.carousel-container {
  width: 100%;
  margin: 0 auto;
  align-items: center;
  color: var(--text-color);
  opacity: 0.7;
}

.carousel-inner {
  width: 100%;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

.carousel-control-prev,
.carousel-control-next{ 
  color:#03b81c; /* Change to the desired color */

<<<<<<< Updated upstream
.general-content {
  color: rgb(255, 255, 255);
}

.producto-1 img {
  max-width: 100%; 
}

.producto-1 {
  display: flex;
  align-items: flex-end;
}

.producto-2 img {
  max-width: 100%; 
}

.producto-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.producto-3 img {
  max-width: 100%; 
}

.producto-3 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.pNosotros{
  font-size: 1.2em;
  line-height: 2
=======
}
/* Section */
.section {
  flex-wrap: wrap; 
  justify-content: space-around;
>>>>>>> Stashed changes
}

.section img {
  max-width: 100%; 
}


/* Productos estilos especificos */
.productos_coca, .productos_dorito, .productos_pastel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.productos_desc {
  color: var(--text-color);
  font-size: 20px;
  font-family: var(--font-family);
}










