{% load static %}
<!DOCTYPE html>

<html lang="es">
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="Descripción de tu página aquí" name="description"/>
<meta content="palabras clave, separadas, por, comas" name="keywords"/>
<link href="{% static 'myapp/Img/Logo chico.png' %}" rel="icon" type="image/x-icon"/>
<!-- Link CSS Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"/>
<!-- Link JS Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"></script>
<title>Contáctanos</title>
<link href="{% static 'myapp/Css/style.css' %}" rel="stylesheet"/>
<script src="{% static 'myapp/Js/Funciones.js' %}"></script>
</head>
<body class="body">
<header>
<div class="left-section">
<div class="logo">
<a href="{% url 'index' %}"><img alt="Chile Fresco Logo" height="50px" src="{% static 'myapp/Img/Logo.png' %}" width=""/></a>
</div>
<nav class="navbar">
<ul>
<li><a class="a_productos" href="{% url 'index' %}">Inicio</a></li>
<li><a class="a_productos" href="{% url 'productos' %}">Productos</a></li>
<li><a class="a_productos" href="{% url 'contactanos' %}">Contáctanos</a></li>
</ul>
</nav>
</div>

<div class="right-section">
<button aria-label="Login" class="btn btn-primary" data-bs-target="#loginModal" data-bs-toggle="modal">
<svg class="bi bi-person-circle" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>
<path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" fill-rule="evenodd"></path>
</svg>
                Login
            </button>
<a href="../Html/CARRO_COMPRA.html" target="_self">
<button aria-label="Carrito" class="btn btn-primary cart-button">
<svg class="bi bi-basket-fill" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
<path d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0z"></path>
</svg>
                    Carrito
                </button>
</a>
</div>
</header>
<section class="about-us">
<div class="container">
<div class="row">
<div class="col-md-6">
<h2>Sobre Nosotros</h2>
<p class="pNosotros">
                        En nuestro local de minimarket, te ofrecemos una experiencia de compras única, con una variedad de productos que satisfacen todas tus necesidades. Desde nuestra panadería con panes recién horneados, pasando por los confites que te recuerdan a tu niñez, hasta nuestra verdulería que cuenta con los productos más frescos de la temporada.              
                        Además, no te puedes perder nuestra pastelería, donde encontrarás todos tus dulces favoritos, perfectos para consentirte o para compartir en una ocasión especial.              
                        Lo más importante para nosotros es tu satisfacción. Por eso, contamos con un equipo de trabajo dedicado y amable que se esfuerza en brindarte el mejor servicio. Queremos que te sientas como en casa cada vez que nos visites.              
                        Ven y descubre la diferencia de comprar en Chile Fresco. Te esperamos con los brazos abiertos y con la calidad que mereces.
                    </p>
</div>
<div class="col-md-6">
<img alt="Establecimiento" class="img-fluid" src="{% static 'myapp/Img/fondo.png' %}"/>
</div>
</div>
</div>
</section>
<section class="contact-form">
<div class="container">
<div class="row">
<div class="col-md-12">
<h2>Quiere que vendamos su producto en nuestro local?</h2>
<p class="pNosotros">
                        ¿Tiene un producto artesanal que quiere vender? ¡Nosotros nos encargamos! En nuestro local, podemos promocionarlo y hacer que llegue a más personas. Y si usted es un artesano de productos agrícolas o ganaderos, ¡no se preocupe por el transporte! ¡Nosotros vamos hasta su parcela para llevarlo directo a nuestra tienda! No dude en completar nuestro formulario. ¡Estamos aquí para ayudarle a llevar su negocio al siguiente nivel!
                       </p>
<div class="col-md-6">
<img alt="Establecimiento" class="img-fluid" src="{% static 'myapp/Img/Vendedorxd.jpeg' %}"/>
</div>
<!-- Button to trigger contact form modal -->
<button class="btn btn-primary" data-bs-target="#exampleModal" data-bs-toggle="modal" id="btn-abrir-modal">Contáctenos aquí</button>
</div>
</div>
</div>
</section>
<section class="location-map">
<div class="container">
<div class="row">
<div class="col-md-12">
<h2>Nuestra Red de Venta de Productos Artesanales</h2>
<p class="pNosotros">Únete a nuestra creciente red de distribución de productos artesanales en nuestra área.</p>
</div>
</div>
<div id="map"></div>
</div>
</section>
<!-- Modal Login -->
<div aria-hidden="true" aria-labelledby="loginModalLabel" class="modal fade" id="loginModal" tabindex="-1">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="loginModalLabel">Ingrese sus datos de usuario</h5>
<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
</div>
<div class="modal-body">
<!-- Login form -->
<form id="loginForm">
<div class="mb-3">
<label class="form-label" for="username">Correo</label>
<input class="form-control" id="username" name="username" required="" type="email"/>
</div>
<div class="mb-3">
<label class="form-label" for="password">Contraseña</label>
<input class="form-control" id="password" name="password" required="" type="password"/>
</div>
<button class="btn btn-primary" id="loginButton" type="submit">Iniciar sesión</button>
</form>
</div>
</div>
</div>
</div>
<!-- Modal Formulario -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Ingrese sus datos para contacto</h5>
<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
</div>
<div class="modal-body">
<form action="/action_page.php">
<div class="mb-3 mt-3">
<label class="form-label" for="nombre">Nombre completo:</label>
<input class="form-control" id="nombre" name="nombre" placeholder="Ingrese Nombre" type="text"/>
</div>
<div class="mb-3">
<label class="form-label" for="email">Email:</label>
<input class="form-control" id="email" name="email" placeholder="Ingrese Email" type="email"/>
</div>
<div class="form-check mb-3 d-flex justify-content-center">
<div class="form-check">
<label class="form-check-label">
<input class="form-check-input" name="rut_checkbox" type="checkbox"/> RUT 
                                </label>
</div>
<div class="form-check">
<label class="form-check-label">
<input class="form-check-input" name="pasaporte_checkbox" type="checkbox"/> Pasaporte
                                </label>
</div>
</div>
<div class="mb-3">
<label class="form-label" for="rut">RUT o Pasaporte:</label>
<input class="form-control" id="rut" name="rut" placeholder="Ingrese RUT o Pasaporte" type="text"/>
</div>
<div class="mb-3">
<label class="form-label" for="tlf">Número de teléfono (opcional):</label>
<input class="form-control" id="tlf" name="tlf" placeholder="Ingrese Teléfono" type="tel"/>
</div>
<div class="mb-3">
<label class="form-label" for="city">Ciudad de residencia:</label>
<input class="form-control" id="city" name="city" placeholder="Ingrese Ciudad" type="text"/>
</div>
<div class="mb-3">
<label class="form-label" for="comment">Comentarios:</label>
<textarea class="form-control" id="comment" name="comment" rows="5"></textarea>
</div>
<div class="modal-footer">
<button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cerrar</button>
<button class="btn btn-primary me-2" onclick="validarCampos()" type="button">Enviar</button>
<button class="btn btn-danger" onclick="limpiar_campos()" type="reset">Limpiar</button>
</div>
</form>
</div>
</div>
</div>
</div>
<section class="footer">
<div class="footer-container">
<h2>Servicio al cliente</h2>
<script async="" src="{% static 'https://maps.googleapis.com/maps/api/js?key=AIzaSyB9hIllwF6Nv4LHOCCbhp0EHded6xBLGeE&amp;callback=initMap' %}">
</script>
<ul>
<li><a href="#">Términos y condiciones</a></li>
<li><a href="#">Cómo comprar</a></li>
</ul>
<p>Volcán Hornopirén G9, Puerto Varas, Chile</p>
<svg aria-hidden="true" class="w-6 h-6 text-gray-800 dark:text-white" fill="currentColor" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M7.978 4a2.553 2.553 0 0 0-1.926.877C4.233 6.7 3.699 8.751 4.153 10.814c.44 1.995 1.778 3.893 3.456 5.572 1.68 1.679 3.577 3.018 5.57 3.459 2.062.456 4.115-.073 5.94-1.885a2.556 2.556 0 0 0 .001-3.861l-1.21-1.21a2.689 2.689 0 0 0-3.802 0l-.617.618a.806.806 0 0 1-1.14 0l-1.854-1.855a.807.807 0 0 1 0-1.14l.618-.62a2.692 2.692 0 0 0 0-3.803l-1.21-1.211A2.555 2.555 0 0 0 7.978 4Z"></path>
</svg>
<p>Pedidos al +56945886714</p>
<svg aria-hidden="true" class="w-6 h-6 text-gray-800 dark:text-white" fill="currentColor" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M22.4 4.4l-1.6 1.6c-.4.4-1.2.4-1.6 0L16 3.2c-.4-.4-1.2-.4-1.6 0l-1.6 1.6 4.4 4.4 3.2-3.2c.4-.4.4-1.2 0-1.6zm-3.6 5.6L6.6 22.8c-.4.4-1 .4-1.4 0L.8 18.4c-.4-.4-.4-1 0-1.4L15.4 2.6c.4-.4 1-.4 1.4 0L18.8 4c.4.4.4 1 0 1.4L14.4 10l1.4 1.4z"></path>
</svg>
<p>Email: contacto@chilefresco.cl</p>
</div>

</section>
<script>
     initMap();   
    </script>
<script async="" defer="" src="{% static 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBM2nMYgnN2PTeUjnZhPj3nSma_HxXA7skcall=initMap' %}"></script>
</body>
</html>
