
<div aria-hidden="true" aria-labelledby="signupModalLabel" class="modal fade" id="signupModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signupModalLabel">Crea tu cuenta</h5>
          <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body">
          <!-- Signup form -->
          <form id="signupForm" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label" for="email">Correo</label>
              <input class="form-control" id="email" name="email" required="" type="email" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="password1">Contraseña</label>
              <input class="form-control" id="password1" name="password1" required="" type="password" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="password2">Confirmar contraseña</label>
              <input class="form-control" id="password2" name="password2" required="" type="password" />
            </div>
            <button class="btn btn-primary" id="signupButton" type="submit">Registrarse</button>
          </form>
        </div>
        <div class="modal-footer">
          <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
