
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'myapp/Css/style.css' %}">
</head>
<header>
    
</header>
<body class="container_administrador">
    <h1 class="mt-5">Gestión de Productos</h1>

    <!-- Filtros por clase de producto -->
    <div class="mt-4">
        <h2>Filtrar por Clase de Producto</h2>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary filter-button" data-target="all">Todos</button>
            <button type="button" class="btn btn-secondary filter-button" data-target="verduras_y_frutas">Verduras y Frutas</button>
            <button type="button" class="btn btn-secondary filter-button" data-target="refrigerados">Refrigerados</button>
            <button type="button" class="btn btn-secondary filter-button" data-target="limpieza">Limpieza</button>
            <button type="button" class="btn btn-secondary filter-button" data-target="carnes">Carnes</button>
            <button type="button" class="btn btn-secondary filter-button" data-target="despensa">Despensa</button>
            <button type="button" class="btn btn-secondary filter-button" data-target="bebidas_y_licores">Bebidas y Licores</button>
            <button type="button" class="btn btn-secondary filter-button" data-target="queso_y_fiambres">Queso y Fiambres</button>
            <button type="button" class="btn btn-secondary filter-button" data-target="panaderia_y_pasteleria">Panadería y Pastelería</button>
            <button type="button" class="btn btn-secondary filter-button" data-target="congelados">Congelados</button>
            <button type="button" class="btn btn-secondary filter-button" data-target="mascotas">Mascotas</button>
            <button type="button" class="btn btn-secondary filter-button" data-target="bebes_y_ninos">Bebés y Niños</button>
            <button type="button" class="btn btn-secondary filter-button" data-target="ferreteria">Ferretería</button>
        </div>
    </div>

    <!-- Listado de Productos -->
    <div class="mt-4">
        <h2>Listado de Productos</h2>
        <table class="table table-striped table-hover tablazo">
            <thead class="table-dark">
                <tr>
                    <th scope="col">CÓDIGO BARRA</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">PRECIO</th>
                    <th scope="col">PESO/VOLUMEN</th>
                    <th scope="col">TIPO UNIDAD</th>
                    <th scope="col">STOCK</th>
                    <th scope="col">DETALLE</th>
                    <th scope="col">ELABORACIÓN</th>
                    <th scope="col">VENCIMIENTO</th>
                    <th scope="col">IMAGEN</th>
                    <th scope="col">ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for category, items in productos.items %}
                    {% for item in items %}
                        <tr class="producto-row {{ category }}">
                            <td>{{ item.codigo_barra }}</td>
                            <td>{{ item.nombre_producto }}</td>
                            <td>{{ item.precio_producto }}</td>
                            <td>{{ item.peso_volumen_producto }}</td>
                            <td>{{ item.tipo_unidad }}</td>
                            <td>{{ item.unidades_stock }}</td>
                            <td>{{ item.unidades_detalle }}</td>
                            <td>{{ item.fecha_elaboracion }}</td>
                            <td>{{ item.fecha_vencimiento }}</td>
                            <td>
                                {% if item.imagen_producto %}
                                    <img src="{{ item.imagen_producto.url }}" alt="{{ item.nombre_producto }}" width="50">
                                {% else %}
                                    No Image
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'administrador_modificar_producto' product_type=category codigo_barra=item.codigo_barra %}" class="btn btn-primary">Modificar Producto</a>
                                <a href="{% url 'administrador_eliminar_producto' product_type=category codigo_barra=item.codigo_barra %}" class="btn btn-danger">Eliminar Producto</a>

                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

<!-- Botón que abre el modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalAgregar">Agregar Producto</button>

<!-- Modal Agregar -->
<div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="modalAgregarLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarLabel">Agregar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario de agregar producto -->
                <form action="{% url 'administrador_agregar_producto' product_type='verduras' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ verduras_form.as_p }}
                    <button type="submit" class="btn btn-primary">FRUTAS Y VERDURAS</button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Formulario de agregar producto -->
                <form action="{% url 'administrador_agregar_producto' product_type='carnes' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ verduras_form.as_p }}
                    <button type="submit" class="btn btn-primary">CARNES</button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Formulario de agregar producto -->
                <form action="{% url 'administrador_agregar_producto' product_type='refrigerados' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ verduras_form.as_p }}
                    <button type="submit" class="btn btn-primary">REFRIGERADOS</button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Formulario de agregar producto -->
                <form action="{% url 'administrador_agregar_producto' product_type='limpieza' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ verduras_form.as_p }}
                    <button type="submit" class="btn btn-primary">LIMPIEZA</button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Formulario de agregar producto -->
                <form action="{% url 'administrador_agregar_producto' product_type='despensa' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ verduras_form.as_p }}
                    <button type="submit" class="btn btn-primary">DESPENSA</button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Formulario de agregar producto -->
                <form action="{% url 'administrador_agregar_producto' product_type='bebidas' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ verduras_form.as_p }}
                    <button type="submit" class="btn btn-primary">BEBIDAS Y LICORES</button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Formulario de agregar producto -->
                <form action="{% url 'administrador_agregar_producto' product_type='quesos' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ verduras_form.as_p }}
                    <button type="submit" class="btn btn-primary">QUESOS Y FIAMBRES</button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Formulario de agregar producto -->
                <form action="{% url 'administrador_agregar_producto' product_type='panaderia' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ verduras_form.as_p }}
                    <button type="submit" class="btn btn-primary">PANADERIA Y PASTELERIA</button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Formulario de agregar producto -->
                <form action="{% url 'administrador_agregar_producto' product_type='congelados' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ verduras_form.as_p }}
                    <button type="submit" class="btn btn-primary">CONGELADOS</button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Formulario de agregar producto -->
                <form action="{% url 'administrador_agregar_producto' product_type='mascotas' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ verduras_form.as_p }}
                    <button type="submit" class="btn btn-primary">MASCOTAS</button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Formulario de agregar producto -->
                <form action="{% url 'administrador_agregar_producto' product_type='bebes' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ verduras_form.as_p }}
                    <button type="submit" class="btn btn-primary">NIÑOS Y BÉBES</button>
                </form>
            </div>
            <div class="modal-body">
                <!-- Formulario de agregar producto -->
                <form action="{% url 'administrador_agregar_producto' product_type='ferreteria' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ verduras_form.as_p }}
                    <button type="submit" class="btn btn-primary">FERRETERIA</button>
                </form>
            </div>
        </div>
    </div>  
</div>



<!-- Mostrar mensajes de éxito y error -->
{% if messages %}
    <div class="mt-4">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}

        
    </div>

    <!-- Scripts de Bootstrap y jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl2R2mGHLRmZr2jn9whKNjR9IO8Z7Gx4aaW5EZo6l8RkSOFv9f4/aWI6pO4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGfrmPHKXT3fG8Bnk5e2Q8a4J5gfl5n0n5W8FILpHFiG9KkG5X5p5ZKxWUR" crossorigin="anonymous"></script>
    <script src="{% static 'myapp/js/filter.js' %}"></script>

    <!-- Script personalizado para filtrar productos -->
    <script>
        $(document).ready(function() {
            $('.filter-button').on('click', function() {
                var target = $(this).data('target');

                if (target === 'all') {
                    $('.producto-row').show();
                } else {
                    $('.producto-row').hide();
                    $('.' + target).show();
                }
            });
        });
    </script>
</body>
</html>