{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'myapp/Css/style.css' %}">
    <title>Eliminar producto</title>
</head>
<body>

    <h2>Confirmar Eliminación</h2>
    <p>¿Estás seguro de que deseas eliminar el producto "{{ instance }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar Producto</button>
        <a href="{% url 'administrador' %}" class="btn btn-secondary">Cancelar</a>
    </form>

</body>
</html>
