
/* Global Variables */
:root {
  --main-bg-color: #2C3E50;
  --text-color: #eff1ec;
  --highlight-color: #3498DB;
  --logo-bg-color: #34495E;
  --footer-bg-color: #F39C12;
  --font-family: 'Arial', sans-serif;
  --primary-color: #E74C3C;
  --secondary-color: #2C3E50;
  --border-color: #F39C12;
  --button-color:#329b08;
}

/* Global Styles */
body {
  font-family: var(--font-family);
  background-color: var(--main-bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
/*tarjeta producto*/
.col-md-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding: 15px;
}
.card-img-top {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

/*botones*/
.btn-primary {
  background-color: var(--button-color) !important; 
  border-color: var(--secondary-color) !important; 
  color: var(--text-color)
}
.btn-primary:hover {
  background-color: var(--primary-color) !important; 
  border-color: var(--secondary-color) !important; 
  color: #fff !important; 
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--highlight-color);
  text-decoration: underline;
}
/* barra navegación*/
header, .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: var(--logo-bg-color);
}

.logo img {
  height: 100px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 10px;
  
}

.navbar ul li a {
  font-size: 1.2rem;
  transition: color 0.3s;
  color: #ECF0F1;

}

.right-section .btn {
  margin-left: 10px;
}
/*Carrusel*/
.carousel-container {
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin-top: 50px; /* Ajusta según sea necesario */
}

.carousel-inner {
 
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}

.carousel-inner img {
  max-width: 100%;
  max-height: 200px; /* Ajusta la altura del carrusel */
  height: auto;
  margin: 0 10px; /* Ajusta el espacio entre las imágenes */
}

/* Agregar otro carrusel */
.carousel-container.secondary {
  margin-top: 50px; /* Ajusta el margen superior según sea necesario */
}

.secondary .carousel-inner img {
  max-height: 150px; /* Ajusta la altura del segundo carrusel */
}


.principal {
  text-align: center;
  margin: 20px;
}

.pNosotros {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #F39C12; /* Changed color */
}

.general.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #34495E;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo-pro h2 {
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background: #2C3E50;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
  width: 300px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
}

.card p {
  margin: 15px 0;
  padding: 0 10px;
}

.btn-1 {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-1:hover {
  background-color: var(--secondary-color);
}
/*FOOTER*/
.footer {
  background-color: var(--footer-bg-color);
  color: #000;
  padding: 20px 50px;
  text-align: center;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-info {
  flex: 1;
}

.footer-info h2, .footer-info p {
  margin: 10px 0;
}

.footer-info svg {
  margin-right: 5px;
}
/*modal*/
.modal-content{
  
  top: 0;
  background: #2C3E50;
  
}
.card-title{
  color: #fff;
}
.card-text{
  color: #fff;
}

/*mapa google chile fresco---------------------------------------------------------*/
#map{
  height: 300px;
  width: 50%;
}

/* Media Queries */
@media (max-width: 1200px) {
  .general.container {
    padding: 15px;
  }

  .card {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  header, .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    
  }

  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .navbar ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar ul li {
    margin: 5px 0;
  }


  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .carousel-inner img {
    max-height: 150px;
  }
}

@media (max-width: 480px) {
  header, .navbar {
    padding: 5px 10px;
  }

  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .navbar ul li a {
    font-size: 1rem;
  }



  .footer {
    padding: 10px 20px;
  }

  .carousel-inner img {
    max-height: 100px;
  }

  .btn-1 {
    padding: 8px 16px;
  }
}
/* productos --------------------------------------------------*/
.container_pro {
  overflow: hidden;
}

.filterDiv {
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.filterDiv .product {
  background-color: var(--logo-bg-color);
  color: #ffffff;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: var(--button-color);
  color: var(--text-color);
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: var(--primary-color);
  
}

/* Add a dark background to the active button */
.btn.active {
  background-color:var(--border-color);
  color: white;
}

/* Card styles */
.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-size: 1rem;
  color: #fff;
}

.quantity-btn {
  width: 30px;
  height: 30px;
  line-height: 1;
}

.quantity-input {
  text-align: center;
}

/* seccion de contactanos*/
.about-us, .contact-form, .location-map {
  border-radius: 15px;
  background-color: var(--logo-bg-color); 
  padding: 20px;
  margin: 20px 0; /* Adjust margin as needed */
}












